@media print, screen and (min-width: 640px){
	.savediv{
		width: 300px;
		margin: auto;
		position: relative;
		padding-bottom: 50px;
	}
	.savebtn{
		font-size: 20px;
		position: absolute;
		left: 650px;
	
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: rgb(255, 254, 254);
		  background:  rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #ce7d05;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.savebtn:active{
		border-bottom: solid 2px #fd9535;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
	.oya01{
		
		display: flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		justify-content: center;
	}
	.hed{
		position: relative;
		padding: 0.25em 0;
	}
	
	.hed:after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.hed2{
		position: relative;
		padding: 0.25em 0;
	}
	
	.hed2:after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.lab{
		position: relative;
		padding: 0.25em 0;
	}
	.lab:after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	
	.tex{
		font-size: 48px;
		vertical-align: middle;
	}
	
	.chi02{
		/*border: solid #800015;*/
		flex-grow: 5;
		text-align: center;
		font-size: 48px;
	}
	.shu{
		font-size: 40px;
		text-align: center;
		position: relative;
		padding: 0.25em 0;
	}
	.shu::after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.shu input{
		vertical-align : middle;	
	}
	.chou{
		font-size: 40px;
		vertical-align: middle;
	}
	.ul{
		text-align: center;
		font-size: 24px;
	}
	.kon{
		font-size: 40px;
		vertical-align: middle;
		position: relative;
		
	}
	.kon:after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.konkon{
		font-size: 40px;
		vertical-align: middle;
		padding: 0.25em 0;
	}
	.kt{
		font-size: 40px;
		vertical-align: middle;
	}
	.toi{
		position: relative;
		padding: 0.25em 0;
	}
	.toi:after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.toitoi{
		font-size: 40px;
		vertical-align: middle;
	}
	/*.ans{
		border: solid #a19894;
	}*/
	.ansans{
		font-size: 40px;
		vertical-align: middle;
	}
	.number{
		font-size: 40px;
		vertical-align: middle;
	}
	.toians{
		font-size: 40px;
		
	}
	.sankou{
		
		font-size: 40px;
		
	}
	.uemoto{
		font-size: 40px;
	}
	.btn{
		font-size: 40px;
	}
	/*こんきょ*/
	.kon_st_div{
		width: 300px;
		margin: auto;
		position: relative;
		padding-bottom: 50px;
	}
	.kon_st{
		font-size: 20px;
		position: absolute;
		left: 450px;
	
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: rgb(255, 254, 254);
		  background:  rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #ce7d05;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.kon_st:active{
		border-bottom: solid 2px #fd9535;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
	.kon_hon{
		font-size: 20px;
		text-align:center;
	}
	.kon_hon::after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.kk{
		
		font-size: 40px;
		padding: 3.0px 0;
	}
	.textK{
		font-size: 40px;
	}
	.delete2{
		font-size: 20px;
	
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: #FFF;
		  background: rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.delete2:active{
		border-bottom: solid 2px #fd9535;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
	/**/
	/*toioans*/
	.panda_div{
		width: 300px;
		margin: auto;
		margin-top: 10px;
		position: relative;
		padding-bottom: 50px;
	}
	.btnpanda{
		font-size: 20px;
		position: absolute;
		left: 450px;
	
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: #FFF;
		  background: rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.btnpanda:active{
		border-bottom: solid 2px #fd9535;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
	.qa{
		vertical-align: middle;
		position: relative;
		text-align:center;
		margin: 10px;
	}
	.qa:after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.textQ{
		font-size: 40px;
		padding: 1.0px 0;
		margin: 2px 0px;
	}
	.textA{
		font-size: 40px;
		padding: 1.0px 0;
	}
	.toisuta{
		font-size: 20px;
		margin: 5px 0px;
	}
	.delete{
		font-size: 20px;
	
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: #FFF;
		  background: rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.delete:active{
		border-bottom: solid 2px #fd9535;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
	.change{
		font-size: 20px;
		
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: #FFF;
		  background: rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.change:active{
		border-bottom: solid 2px #fd9535;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
	.qa_hontai{
		font-size: 20px;
	}
	.qa_hontai::after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	/**sannkoubunnkenn*/
	.sanst_div{
		width: 300px;
		margin: auto;
		margin-top: 10px;
		position: relative;
		padding-bottom: 50px;
	}
	.sanst{
		font-size: 20px;
		position: absolute;
		left: 450px;
	
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: #FFF;
		  background: rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.sanst:active{
		border-bottom: solid 2px #fd9535;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
	.san_hon{
		font-size: 20px;
		text-align:center;
	}
	.san_hon::after{
		content: "";
		display: block;
		height: 4px;
		background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
		background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
	}
	.ss{
	
		font-size: 40px;
	}
	.textS{
		font-size: 40px;
		width: 60%;
	}
	.delete3{
		font-size: 20px;
	
		display: inline-block;
		  padding: 0.25em 0.5em;
		  text-decoration: none;
		  color: #FFF;
		  background: rgb(255, 186, 115);/*背景色*/
		  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
		  border-radius: 4px;/*角の丸み*/
		  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
		  font-weight: bold;
	}
	.delete3:active{
		border-bottom: solid 2px #fd9535;
		  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
	}
}
